.Checker {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;

    &.cat {
      max-width: 80%;
      max-height: 80%;
      padding-top: 10%;
    }
    &.beer {
      padding-top: 17%;
    }
    &.wine {
      max-width: 70%;
      max-height: 70%;
      padding-top: 15%;
    }
  }

}

